.container {
  min-height: 100vh;
  background-color: var(--background);
}

.classCard {
  padding: 0.1rem 1rem;
  cursor: pointer;
  color: var(--foreground);
  font-size: 1rem;
  font-family: var(--font-sans);
  border-bottom: 1px solid var(--secondary);
}

.classCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.centeredHeader {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--foreground);
}
