.container {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    color: var(--foreground);
}

.sidePanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
