.container {
  min-height: 100vh;
}

.mainContent {
  padding-top: 20vh;
  flex: 1;
  gap: 10vw;
}
.leftSection {
  position: relative;
}

.menuButtons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 10vw;
}
.profileCircle {
  object-fit: contain;
  width: 60vw;
  margin-left: 10vw;
  padding: 2rem 5rem;
  /* background-color: var(--primary); */
  border-radius: 20px;
  border: 0.5rem solid var(--primary);
  /* outline: 0.25rem solid var(--secondary); */
  outline-offset: 0.25rem;
}
/* .leftSection::before { */
/*   content: ""; */
/*   position: absolute; */
/*   top: 30vh; */
/*   right: 60vw; */
/*   width: 1rem; */
/*   height: 5vh; */
/*   background-color: var(--background); */
/* } */

/* .leftSection::before { */
/*   content: ""; */
/*   width: calc(50vw - 2rem); */
/*   position: absolute; */
/*   bottom: 0; */
/*   border-bottom: 1px solid var(--foreground); */
/* } */
/* .leftSection::after { */
/*   display: block; */
/*   content: "No cost, low cost tuition"; */
/*   padding: 1rem; */
/*   text-align: right; */
/*   width: calc(50vw - 2rem); */
/*   color: var(--foreground); */
/* } */
