.container {
  min-height: 100vh;
}

.mainContent {
  padding-top: 20vh;
  flex: 1;
  gap: 10vw;
}
.leftSection {
  position: relative;
}

.menuButtons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 10vw;
}
.profileCircle {
  object-fit: contain;
  width: 60vw;
  margin-left: 10vw;
  padding: 2rem 5rem;
  border-radius: 20px;
  border: 0.5rem solid var(--primary);
  outline-offset: 0.25rem;
}

@media (max-width: 1000px) {
    .leftSection {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .leftSection img {
        border: none;
        width: 100%;
        height: min(100vw, 40vh);
        padding: 0px;
        margin: 0;
    }
    .menuButtons {
        position: static;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
