.navbar {
  background-color: rgba(0, 0, 0, 0);
  height: var(--navheight);
  padding: 1rem 10vw;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--foreground);
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 3rem;
  margin-right: 2rem;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.navLinks button {
  background: none;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.navLinks .specialNavButton {
  background-color: var(--primary);
  color: var(--foreground);
  border-radius: 4px;
}

.separator {
  border-right: 1px solid var(--secondary);
  margin: 0 1rem;
}

@media (max-width: 1000px) {
  .logo img {
    margin-right: 0;
  }
}
