:root {
  --navheight: 6rem;
  --inputThickness: 1rem;
  
  /* 20221D */
  --darkBlack:  #000000;
  --background:  #e0e0e0;
  --secondaryBackground: #A7A7A7;
  --foreground: #4A4A4A;
  --darkforeground: #181818;
  
  --primary:#FF8F7D;
  --secondary: #48A2B5;
  --tertiary: #00BF92;
  --quaternary: #FF697C;
  
  --primaryLight:#FFB5AD;
  --secondaryLight: #FFa9aC;
  --tertiaryLight: #53CFC2;
  --quaternaryLight: #6eb5c9;
  

  --backgroundGreen: rgba(128, 255, 148, 0.2);
  --lightGreen:  rgba(18, 200, 148, 1);
  --lightRed: #FF595C;
  --darkRed: #b02924;

  --white: #ffffff;
  --offWhite: #c0c0c0;
  --black: #2A2A2A;
  
  --font-sans: "Funnel Sans", sans-serif;
  --font-serif: "Bungee", serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-sans);
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.slabs{
    /* box-shadow: inset 8px 8px 16px rgba(255,255,255,0.3),inset -4px -4px 8px 0px rgba(0, 0, 0, 0.1), 0px 0px 2rem 0px rgba(0, 0, 0, 0.05); */
    border: 2px solid var(--offWhite);
}
.slices{
    /* box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255,255,255,0.5); */
    transition: all 0.2s ease-in-out;
    border: 2px solid var(--offWhite);
}
.slices.hoverable:hover{
    box-shadow: inset -2px -2px 8px 0px rgba(0, 0, 0, 0.1), inset 2px 2px 4px rgba(255,255,255,0.5);
}

.paperButtons {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  perspective: 800px; /* Adds depth */
}

.paperButtons:hover {
  background: var(--white);
  color: var(--darkblack);
  position: relative;
  border-radius: 5px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
}


.paperButtons:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(--black);
  border-bottom-right-radius: 35px;
  animation: slideIn 0.5s ease-in-out;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}

.paperButtons:hover img {
  filter: brightness(0.3);
}


@keyframes slideIn {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 10px;
    height: 10px;
  }
}

button {
    font-size: 1rem;
    padding: 1rem;
    border: none;
    color: var(--foreground);
}

a {
    text-decoration: none;
    color: var(--foreground);
}


.headers{
    font-family: var(--font-serif);
}
