@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.body,
.html {
    margin: 0;
    padding: 0;
    background: var(--background) url('/axiom-pattern.png');
    background-blend-mode: multiply;
}

.background {
    padding-top: calc(var(--navheight) + 1rem);
}
