@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.body,
.html {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  background-size: cover;
}

.background {
  padding-top: calc(var(--navheight) + 1rem);
}

.nonDecoratorWrapper {
  position: relative;
  z-index: 1;
}
